@font-face {
  font-family: 'Bukhari';
  src: url(./Bukhari\ Script.ttf);
}

@font-face {
  font-family: 'Lovelo';
  src: url(./Lovelo-Black.ttf);
}

@font-face {
  font-family: 'Knewave';
  src: url(./Knewave-Regular.ttf);
}