/* Fontes */
@import url(./fonts.css);
                

body, html{
  margin: 0;
  padding: 0;
  width: 100%;
  background-color: #05B2DC;
}

@media screen and (max-width: 864px){
  footer{

    width: 100%;
    position: absolute;
    align-items: center;
    justify-content: center;
    display: flex;
    bottom: 0;
    left: 0;
  }

  header{
    width: 100%;
    position: fixed;
    align-items: center;
    justify-content: center;
    display: flex;
    top: -240px;
  }

  .rodape img{
    width: 100%;
  }

  .text-1{
    background-color: #05B2DC;
    margin-top: 134px;
    align-items: center;
    justify-content: center;
  }

  .text-1 p{
    font-size: 12px;
    margin-bottom: -2px;
    color: #fff;
    font-family: 'Lovelo';
    justify-content: center;
    display: flex;                                               
  }
  
  .text-2{
    padding-top: 10px;
    background-color: #05B2DC;
    align-items: center;
    justify-content: center;
    border: none;
  }

  .text-2 p{
    font-size: 24px;
    color: #9A4C95;
    font-family: 'Knewave';
    justify-content: center;
    display: flex;  
  }

  .text-3{
    margin-top: -19px;
    padding-top: 10px;
    background-color: #05B2DC;
    align-items: center;
    justify-content: center;
  }

  .text-3 p{
    font-size: 12px;
    color: #fff;
    font-family: 'Lovelo';
    justify-content: center;
    display: flex;
  }

  .text-4{
    margin-top: -19px;
    padding-top: 10px;
    background-color: #05B2DC;
    align-items: center;
    justify-content: center;
  }

  .text-4 p{
    font-size: 24px;
    color: #9A4C95;
    font-family: 'Bukhari';
    justify-content: center;
    display: flex;
  }

  .text-5{
    margin-top: -19px;
    padding-top: 10px;
    background-color: #05B2DC;
    align-items: center;
    justify-content: center;
  }

  .text-5 p{
    font-size: 12px;
    margin-bottom: -2px;
    color: #fff;
    font-family: 'Lovelo';
    justify-content: center;
    display: flex;
  }

  .mapa{
    margin-top: -19px;
    padding-top: 10px;
    background-color: #05B2DC;
    align-items: center;
    justify-content: center;
  }

  .icon__mapa{
    display: flex;
    align-items: center;
    justify-content: center;
    color: #9A4C95;
    font-size: 50px;
  }
  .flores-de-cima img{
    transform: rotate(90deg);
  }
}